{# Get the url params for month & year #}
{% set currentMonth = "now"|date('n') %}
{% set currentYear = "now"|date('Y') %}

{# Set the current Year - Month #}
{% set current = currentYear  ~ "-" ~ currentMonth ~ "-1" %}

{# Set previous and next months #}
{% set prevMonth = current|date_modify("last day of last month")|date('c') %}
{% set nextMonth = current|date_modify("first day of next month")|date('c') %}

{#  Get Events for month between prevMonth & nextMonth #}
{% set events = craft.venti.events().between(prevMonth,nextMonth|date_modify('last day of last month')|date('c')) %}
<ol>
    {# Group events by day of the month using the event's startDate as a guide #}
    {% for day, dayEvents in events|group('startDate|date("M d Y")')  %}
        <li>
            {# Day #}
            <span>{{ day|date('M') }} {{ day|date('d') }}</span>
            {# Day Events #}
            <div>
                {% for event in dayEvents %}
                    {# Event #}
                    <a href="{{ event.url }}">
                        <h2>{{ event.title }}</h2>
                        {% if event.allDay %}
                            <p>All Day</p>
                        {% else %}
                            <p>{{ event.startDate|date("g:i a") }} - {{ event.endDate|date("g:i a") }}</p>
                        {% endif %}
                        {% if event.repeat %}
                            <p>{{ event.summary }}</p>
                        {% endif %}
                        {% if event.location|length %}
                            <p><a href="{{ event.location[0].getMapUrl() }}">{{ event.location[0].title }}</a> ({{ event.specificLocation|default('') }})</p>
                        {% endif %}
                    </a>
              {% endfor %}
            </div>
        </li>
    {% endfor %}
</ol>
