<div class="push-b-lg">
    <div class="row center-lg">
        <div class="col col-12 col-sm-6 col-md-3 col-lg-3">
          <button class="btn display-block" data-modal="modal-calendars"><span>{{ 'Choose Categories'|t }}</span></button>
        </div>

        <div class="access_search col col-12 col-md-4 col-lg-4">
            <form class="search iconInput" action="/search/events">
                <input type="search" class="input" name="query" placeholder="Search &hellip;" required>
                <button type="submit" class="btn"><span class="display-sm-block">Search</span></button>
            </form>
        </div>
    </div>
</div>
