/**
 * Push
 */

@mixin push($bp: '') {
  $unit: 2rem;
  $directions: t, r, b, l, x, y;
  $scales: 0, 1, 2, 3, 4, 5, 6;

  @each $direction in $directions {
    @each $scale in $scales {
      $val: $unit * $scale;

      .push#{if($bp == '', '-', '-#{$bp}-')}#{$scale} { margin: $val !important; }
      .push#{if($bp == '', '-', '-#{$bp}-')}b-#{$scale} { margin-bottom: $val !important; }
      .push#{if($bp == '', '-', '-#{$bp}-')}l-#{$scale} { margin-left: $val !important; }
      .push#{if($bp == '', '-', '-#{$bp}-')}r-#{$scale} { margin-right: $val !important; }
      .push#{if($bp == '', '-', '-#{$bp}-')}t-#{$scale} { margin-top: $val !important; }
      .push#{if($bp == '', '-', '-#{$bp}-')}x-#{$scale} { margin-right: $val !important; margin-left: $val !important; }
      .push#{if($bp == '', '-', '-#{$bp}-')}y-#{$scale} { margin-top: $val !important; margin-bottom: $val !important; }
    }
  }
}

@include push();

@media (mq(sm-min)) {
  @include push(sm);
}

@media (mq(md-min)) {
  @include push(md);
}

@media (mq(lg-min)) {
  @include push(lg);
}
